{% extends "dashboard/index.html" %}

// 헤드부분 불러오기
{% block head %}
    <!-- Custom styles for this template -->
    <link href="static/grid.css" rel="stylesheet">
    {{ super() }}
    
{% endblock %}

// 바디부분 불러오기
{% block content %}
    {{ super() }}
    {% block  chart%}{% endblock %}
{% endblock %}

// 네비게이션바 색상 설정
{% block  list_Dashboard%} 
        <a class="nav-link" aria-current="page" href="/dashboard">
            <span data-feather="home"></span>
            Dashboard
        </a>
{% endblock %}
{% block  list_Metabase%}
                <a class="nav-link active" href="/metabase">
                  <span data-feather="layers"></span>
                  Metabase Daskboard
                </a>
{% endblock %}


// 네비게이션바 아이콘 삽입 및 그래프 삽입
{% block  graph%}
    <script>
            (function () {
        'use strict'

        feather.replace({ 'aria-hidden': 'true' })
        
        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
            options: {
                        legend: {
                                    display: false
                                }
                    }
        })
        })()

    </script>
{% endblock %}


//API 설명을 위한 div
{% block header1 %}
<h1 class="h2"  >Metabase Reports (2019년~2020년 자료 기준)</h1>
{% endblock %}

{% block header1_div %}
<iframe width="1550" height="780" src="https://metabaseofjth.herokuapp.com/">
</iframe>
{% endblock %}